@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.centered {
  @apply flex items-center justify-center;
}

p {
  @apply font-normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

